.legends-container {
  padding-top: 52px;
  padding-bottom: 1vh;
  width: 100vw;
  height: auto;
  background-image: url("components/assets/legend-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.legendTable {
  background: radial-gradient(
    circle,
    rgba(82, 85, 143, 1) 0%,
    rgba(32, 22, 69, 1) 100%
  );
  font-size: 1vw;
  font-weight: 600;
  width: 50vw;
  margin: 2vh 0vw 0vh 22.5vw;
  border: 1px black solid;
  text-align: center;
  color: white;
  opacity: 0.95;
}

.legendTable img {
  border-radius: 5px;
  width: auto;
  min-height: 75px;
}

.MuiTypography-root {
  font-size: 1.5rem;
}

.MuiCollapse-root {
  box-shadow: 0px 0px 5px 1px #000;
  width: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
}
