.legends-container {
	padding-top: 52px;
	padding-bottom: 1vh;
	width: 100vw;
	height: 100vh;
	background-image: url("./assets/background1.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.legendTable {
	background-image: linear-gradient(
		to right,
		#434343 0%,
		rgba(0, 0, 0, 0.753) 100%
	);
	width: 80vw;
	margin: 2vh auto auto auto;
	text-align: center;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #bebebe, -1px -1px 1px #ffffff;
	opacity: 0.95;
}

.legendTable img {
	border-radius: 5px;
	width: auto;
	min-height: 75px;
}

.legends-container .MuiTypography-root {
	font-size: 2em;
	font-weight: 600;
	background: linear-gradient(90deg, #fff 0%, #e9e4f0 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.legends-container .MuiCollapse-root {
	width: inherit;
	margin-top: 10px;
	margin-bottom: 10px;
	background: linear-gradient(
			to bottom,
			#323232 0%,
			#3f3f3f 40%,
			#1c1c1c 150%
		),
		linear-gradient(
			to top,
			rgba(255, 255, 255, 0.4) 0%,
			rgba(0, 0, 0, 0.25) 200%
		);
	background-blend-mode: multiply;
	border-radius: 5px;
}

.legends-container .MuiTableCell-root {
	font-size: 1em;
}
